<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header">
                <span id="title" class="w-100">Client Details</span>
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Archived</span>
                    </div>
                    <div class="col">
                        <span id="client-profile-archived"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col ">
                        <span class="font-weight-bold">Name</span>
                    </div>
                    <div class="col">
                        <span id="client-profile-name"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Gender</span>
                    </div>
                    <div class="col">
                        <span id="client-profile-gender"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Mobile</span>
                    </div>
                    <div class="col">
                        <span id="client-profile-mobile"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Address</span>
                    </div>
                    <div class="col">
                        <span id="client-profile-address"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





   