<nav id="side-nav" class="h-100 bg-dark">
    <div class="text-center mt-3 mb-4 w-100">
        <h3 class="text-white">Homecare Ireland</h3>
    </div>
    <div class="nav-btns"></div>
    <div class="sidenav-footer pl-5 py-3">
        <div class="sidenav-footer-content">
            <div class="sidenav-footer-subtitle">Signed in as:</div>
            <div class="sidenav-footer-title"></div>
        </div>
    </div>
</nav>

<nav id="bottom-nav" class="navbar fixed-bottom navbar-dark bg-dark p-0 m-0"></nav>
    
<main>
    <div class="container-fluid p-0 p-sm-2"> 
        <div id="client-view" class="view d-none"></div>
        <div id="staff-view" class="view d-none"></div>
        <div id="visits-view" class="view d-none"></div>
        <div id="clients-view" class="view d-none"></div>
        <div id="meds-view" class="view d-none"></div>  
        <div id="settings-view" class="view"></div>
    </div> 
</main>


 
