<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header">
                <span id="med-title" class="w-100">Medication Details</span>
                <button id="btn-edit" class="btn" title="Edit Medication">
                    <i class="fas fa-edit fa-lg"></i>
                </button>
                <button id="btn-delete-med" class="btn ml-2" title="Delete Medication">
                    <i class="fa fa-trash-alt fa-lg"></i>
                </button>
            </div>
            <div class="card-body text-left">
                <!-- <span class="font-weight-bold">Name:</span> <span id="med-name"></span> -->
                <span class="font-weight-bold">Class:</span> <span id="med-class"></span>
                <hr>
                <span class="font-weight-bold">Description</span><br><br>
                <span id="med-desc"></span>
                <hr>
                <span class="font-weight-bold">Dosages</span><br><br>
                <span id="med-dosages"></span>
                <hr>
                <span class="font-weight-bold">Side Effects</span><br><br>

                <span id="med-sides"></span>
            </div>
            <div class="card-footer small text-muted">Source: Drugs.com</div>
        </div>
    </div>
</div>





   