<div class="row">
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-header">
                <span id="med-title" class="w-100">Med Details</span>
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Name</span>
                    </div>
                    <div class="col">
                        <span id="med-name"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col ">
                        <span class="font-weight-bold">Description</span>
                    </div>
                    <div class="col">
                        <span id="med-desc"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Side Effects</span>
                    </div>
                    <div class="col">
                        <span id="med-sides"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">Source: Drugs.com</div>
        </div>
    </div>
</div>





   