<div class="card mb-4">
    <div class="card-header row">
        <span class="col-3">Medications</span>
        <div id="medications-search" class="col-6" title="Filter Table"></div>
        <div class="col-3">
            <button class="btn" id="btn-clients-filter" title="Filters">
              <i class="fa fa-chevron-down fa-lg" id="icon-clients-filter"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="datatable table-responsive">
            <table class="table table-bordered table-hover" id="medications-datatable" width="100%" cellspacing="0">

            </table>
        </div>
    </div>
</div>