<!-- MODAL ADD CLIENT -->
<div class="modal fade" id="modal-add-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">New Client</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">                    
                  <i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
              <form id="form-add-client">
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-name">Name</label>
                  <input type="text" class="form-control col-sm-9" id="add-client-name" title="Name">
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-gender">Gender</label>
                  <select class="form-control col-sm-9" id="add-client-gender">
                    <option value="" selected disabled hidden>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-dob">Date of Birth</label>
                  <input type="date" class="form-control col-sm-9" id="add-client-dob">
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-mobile">Mobile</label>
                  <input type="text" class="form-control col-sm-9" id="add-client-mobile">
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-address1">Address 1</label>
                  <input type="text" class="form-control col-sm-9" id="add-client-address1">
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-address2">Address 2</label>
                  <input type="text" class="form-control col-sm-9" id="add-client-address2">
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-town">Town</label>
                  <input type="text" class="form-control col-sm-9" id="add-client-town">
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-county">County</label>
                  <select class="form-control form-select col-sm-9" id="add-client-county">
                    <option value="" selected disabled hidden>Select County</option>
                    <option value="Carlow">Carlow</option>
                    <option value="Cavan">Cavan</option>
                    <option value="Clare">Clare</option>
                    <option value="Cork">Cork</option>
                    <option value="Donegal">Donegal</option>
                    <option value="Dublin">Dublin</option>
                    <option value="Galway">Galway</option>
                    <option value="Kerry">Kerry</option>
                    <option value="Kildare">Kildare</option>
                    <option value="Kilkenny">Kilkenny</option>
                    <option value="Laois">Laois</option>
                    <option value="Leitrim">Leitrim</option>
                    <option value="Limerick">Limerick</option>
                    <option value="Longford">Longford</option>
                    <option value="Louth">Louth</option>
                    <option value="Mayo">Mayo</option>
                    <option value="Meath">Meath</option>
                    <option value="Monaghan">Monaghan</option>
                    <option value="Offaly">Offaly</option>
                    <option value="Roscommon">Roscommon</option>
                    <option value="Sligo">Sligo</option>
                    <option value="Tipperary">Tipperary</option>
                    <option value="Waterford">Waterford</option>
                    <option value="Westmeath">Westmeath</option>
                    <option value="Wexford">Wexford</option>
                    <option value="Wicklow">Wicklow</option>
                  </select>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-eircode">Eircode</label>
                  <input type="text" class="form-control col-sm-9" id="add-client-eircode">
                </div>
                <div class="form-group row">
                  <label class="col-sm-3" for="add-client-marital">Marital Status</label>
                  <select class="form-control form-select col-sm-9" id="add-client-marital">
                    <option value="" selected disabled hidden>Select Marital Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Relationship">Relationship</option>
                  </select>
                </div>
              </form>       
          </div>
          <div class="modal-footer">
            <div class="form-error text-danger mx-auto"></div>
            <button class="btn btn-primary" id="btn-add-client" type="button">Assign Client</button>
          </div>
      </div>
    </div>
  </div>
  
  <!-- EDIT CLIENT MODAL -->
  <div class="modal fade" id="modal-edit-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Client</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form class="mt-auto" id="form-edit-client">
                      <div class="form-group">
                        <input type="text" class="form-control" id="edit-client-id" hidden>
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-3 my-auto" for="edit-client-name">Name</label>
                        <input type="text" class="form-control col-9" id="edit-client-name" title="Name">
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-gender">Gender</label>
                        <select class="form-control form-select col-sm-9" id="edit-client-gender">
                          <option value="" selected disabled hidden>Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-dob">DOB</label>
                        <input type="date" class="form-control col-sm-9" id="edit-client-dob">
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-mobile">Mobile</label>
                        <input type="text" class="form-control col-sm-9" id="edit-client-mobile">
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-address1">Address 1</label>
                        <input type="text" class="form-control col-sm-9" id="edit-client-address1">
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-address2">Address 2</label>
                        <input type="text" class="form-control col-sm-9" id="edit-client-address2">
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-town">Town</label>
                        <input type="text" class="form-control col-sm-9" id="edit-client-town">
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-county">County</label>
                        <select class="form-control form-select col-sm-9" id="edit-client-county">
                          <option value="" selected disabled hidden>Select County</option>
                          <option value="Carlow">Carlow</option>
                          <option value="Cavan">Cavan</option>
                          <option value="Clare">Clare</option>
                          <option value="Cork">Cork</option>
                          <option value="Donegal">Donegal</option>
                          <option value="Dublin">Dublin</option>
                          <option value="Galway">Galway</option>
                          <option value="Kerry">Kerry</option>
                          <option value="Kildare">Kildare</option>
                          <option value="Kilkenny">Kilkenny</option>
                          <option value="Laois">Laois</option>
                          <option value="Leitrim">Leitrim</option>
                          <option value="Limerick">Limerick</option>
                          <option value="Longford">Longford</option>
                          <option value="Louth">Louth</option>
                          <option value="Mayo">Mayo</option>
                          <option value="Meath">Meath</option>
                          <option value="Monaghan">Monaghan</option>
                          <option value="Offaly">Offaly</option>
                          <option value="Roscommon">Roscommon</option>
                          <option value="Sligo">Sligo</option>
                          <option value="Tipperary">Tipperary</option>
                          <option value="Waterford">Waterford</option>
                          <option value="Westmeath">Westmeath</option>
                          <option value="Wexford">Wexford</option>
                          <option value="Wicklow">Wicklow</option>
                        </select>
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-eircode">Eircode</label>
                        <input type="text" class="form-control col-sm-9" id="edit-client-eircode">
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-sm-3" for="edit-client-marital">Marital Status</label>
                        <select class="form-control form-select col-sm-9" id="edit-client-marital">
                          <option value="" selected disabled hidden>Select Marital Status</option>
                          <option value="Single">Single</option>
                          <option value="Married">Married</option>
                          <option value="Widowed">Widowed</option>
                          <option value="Divorced">Divorced</option>
                          <option value="Relationship">Relationship</option>
                        </select>
                      </div>
                      <hr>
                      <button class="btn btn-primary btn-block">Update Client</button>
                      <div class="form-error text-danger"></div>
                    </form>              
              </div>
              <div class="modal-footer">
              </div>
          </div>
      </div>
  </div>

 <!-- ADD MED MODAL -->
 <div class="modal fade" id="modal-add-med" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Medication</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="mt-auto p-2" id="form-add-med">
                  <div class="form-group row">
                      <label class="control-label col-sm-3" for="add-client-dob">Name</label>
                      <input type="text" class="form-control col-sm-9" id="add-med-name">
                  </div>
                  <div class="form-group row">
                      <label class="control-label col-sm-3" for="add-client-dob">Description</label>
                      <textarea class="form-control col-sm-9" id="add-med-desc"></textarea>
                  </div>
                  <div class="form-group row">
                      <label class="control-label col-sm-3" for="add-client-dob">Side Effects</label>
                      <textarea class="form-control col-sm-9" id="add-med-sides"></textarea>
                  </div>
                  <button class="btn btn-primary btn-user btn-block">
                      Add Medication
                  </button>
                  <p class="form-error" id="client-error"></p>
              </form>    
          </div>
          <div class="modal-footer">
          </div>
      </div>
  </div>
</div>

<!-- MODAL UPDATE USER -->
<div class="modal fade" id="modal-update-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Update Your Details</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">                    
                <i class="fas fa-times"></i></span>
              </button>
          </div>
          <div class="modal-body">
            <form id="form-add-client">
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-name">Name</label>
                <input type="text" class="form-control col-sm-9" id="add-client-name" title="Name">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-gender">Gender</label>
                <select class="form-control col-sm-9" id="add-client-gender">
                  <option value="" selected disabled hidden>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-dob">Date of Birth</label>
                <input type="date" class="form-control col-sm-9" id="add-client-dob">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-mobile">Mobile</label>
                <input type="text" class="form-control col-sm-9" id="add-client-mobile">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-address1">Address 1</label>
                <input type="text" class="form-control col-sm-9" id="add-client-address1">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-address2">Address 2</label>
                <input type="text" class="form-control col-sm-9" id="add-client-address2">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-town">Town</label>
                <input type="text" class="form-control col-sm-9" id="add-client-town">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-county">County</label>
                <select class="form-control form-select col-sm-9" id="add-client-county">
                  <option value="" selected disabled hidden>Select County</option>
                  <option value="Carlow">Carlow</option>
                  <option value="Cavan">Cavan</option>
                  <option value="Clare">Clare</option>
                  <option value="Cork">Cork</option>
                  <option value="Donegal">Donegal</option>
                  <option value="Dublin">Dublin</option>
                  <option value="Galway">Galway</option>
                  <option value="Kerry">Kerry</option>
                  <option value="Kildare">Kildare</option>
                  <option value="Kilkenny">Kilkenny</option>
                  <option value="Laois">Laois</option>
                  <option value="Leitrim">Leitrim</option>
                  <option value="Limerick">Limerick</option>
                  <option value="Longford">Longford</option>
                  <option value="Louth">Louth</option>
                  <option value="Mayo">Mayo</option>
                  <option value="Meath">Meath</option>
                  <option value="Monaghan">Monaghan</option>
                  <option value="Offaly">Offaly</option>
                  <option value="Roscommon">Roscommon</option>
                  <option value="Sligo">Sligo</option>
                  <option value="Tipperary">Tipperary</option>
                  <option value="Waterford">Waterford</option>
                  <option value="Westmeath">Westmeath</option>
                  <option value="Wexford">Wexford</option>
                  <option value="Wicklow">Wicklow</option>
                </select>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-eircode">Eircode</label>
                <input type="text" class="form-control col-sm-9" id="add-client-eircode">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="add-client-marital">Marital Status</label>
                <select class="form-control form-select col-sm-9" id="add-client-marital">
                  <option value="" selected disabled hidden>Select Marital Status</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Widowed">Widowed</option>
                  <option value="Divorced">Divorced</option>
                  <option value="Relationship">Relationship</option>
                </select>
              </div>
            </form>       
        </div>
        <div class="modal-footer">
          <div class="form-error text-danger mx-auto"></div>
          <button class="btn btn-primary" id="btn-add-client" type="button">Update</button>
        </div>
    </div>
  </div>
</div>

<!-- MODAL ADD CONN -->
<div class="modal fade" id="modal-add-conn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Add Client</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">                    
                <i class="fas fa-times"></i></span>
              </button>
          </div>
          <div class="modal-body">
            <form id="form-add-conn">         
              <div class="form-group row">
                <label class="col-3" for="select-client">Select Client</label>
                <select class="form-control form-select col-9" id="select-client">
                  
                </select>
              </div>
            </form>       
        </div>
        <div class="modal-footer">
          <div class="form-error text-danger mx-auto"></div>
          <button class="btn btn-primary" id="btn-add-conn" type="button">Add Client</button>
        </div>
    </div>
  </div>
</div>

<!-- MODAL ADD VISIT -->
<div class="modal fade" id="modal-add-visit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Add Visit</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">                    
                <i class="fas fa-times"></i></span>
              </button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal p-1 mr-2" id="form-add-visit">
              <input type="hidden" id="visit_userid">
              <div class="form-group row">
                <label class="col-3" for="visit-select-user">Select User</label>
                <select class="form-control col-9" id="visit-select-user"></select>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="visit-start">Start</label>
                <input type="datetime-local" class="form-control col-sm-9" id="visit-start">
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="visit-end">End</label>
                <input type="datetime-local" class="form-control col-sm-9" id="visit-end">
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-3" for="visit-notes">Notes</label>
                <textarea type="text" class="form-control col-sm-9" id="visit-notes"></textarea>
              </div>
            </form> 
        </div>
        <div class="modal-footer">
          <div class="form-error text-danger mx-auto"></div>
          <button class="btn btn-primary" id="btn-add-visit" type="button">Add Visit</button>
        </div>
    </div>
  </div>
</div>
