<div id="settings" class="card">
    <div class="settings-option border-top border-bottom row">
        <button class="btn settings-btn" id="btn-preserve">
            <i class="fas fa-save fa-lg col-1"></i>
            <span class="col-10">Preserve Tab State</span>
            <i id="preserve-icon" class="far fa-square fa-lg col-1"></i>
        </button>
    </div>
    <div class="settings-option border-top border-bottom row">
        <button class="btn settings-btn" id="btn-autoscroll" disabled>
            <i class="fas fa-scroll fa-lg col-1"></i>
            <span class="col-10">Auto Scroll</span>
            <i id="preserve-icon" class="far fa-check-square fa-lg col-1"></i>
        </button>
    </div>
    <div class="settings-option border-top border-bottom row">
        <button class="btn settings-btn" id="btn-autoscroll" disabled>
            <i class="fas fa-table fa-lg col-1"></i>
            <span class="col-10">Responsive Tables</span>
            <i id="preserve-icon" class="far fa-check-square fa-lg col-1"></i>
        </button>
    </div>
    <div class="settings-option border-top border-bottom row">
        <button class="btn settings-btn" id="btn-details">
            <i class="fas fa-user-edit fa-lg col-1"></i>
            <span class="col-11 my-auto">Update Personal Details</span>
        </button>
    </div>
    <div class="settings-option border-top border-bottom row">
        <button class="btn settings-btn" id="btn-address">
            <i class="fas fa-address-card fa-lg col-1"></i>
            <span class="col-11 my-auto">Update Address</span>
        </button>
    </div>
    <div class="settings-option border-top border-bottom row d-sm-none">
        <button class="btn settings-btn" id="btn-nav-signout">
            <i class="fas fa-sign-out-alt fa-lg col-1"></i> 
            <span class="col-11 my-auto">Sign Out</label>
        </button>
    </div>
</div>

<!-- <div id="settings">
    Put settings here
</div> -->
<!-- <i class="far fa-check-square"></i> -->
