<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">
                <span id="title" class="w-100">Details</span>
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Role</span>
                    </div>
                    <div class="col">
                        <span id="user-role"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col ">
                        <span class="font-weight-bold">Name</span>
                    </div>
                    <div class="col">
                        <span id="user-name"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Gender</span>
                    </div>
                    <div class="col">
                        <span id="user-gender"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Date of Birth</span>
                    </div>
                    <div class="col">
                        <span id="user-dob"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Mobile</span>
                    </div>
                    <div class="col">
                        <span id="user-mobile"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Address</span>
                    </div>
                    <div class="col">
                        <span id="user-address"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Archived</span>
                    </div>
                    <div class="col">
                        <span id="user-archived"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





   