<div id="visits">
    <div class="card mb-4">
        <div class="card-header row">
            <span class="col-3">Visits</span>
            <div id="user-visits-search" class="col-8" title="Filter Table"></div>
            <button id="btn-user-add-visit" class="btn col-1">
                <i class="fas fa-plus fa-lg"></i>
            </button>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="datatable" width="100%" cellspacing="0"></table>  
        </div>
    </div>
</div>
<!-- ADD VISIT MODAL -->
<div class="modal fade" id="modal-add-visit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Client</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mt-auto" id="form-add-visit">
                    <input type="hidden" id="clientId">
                    <div class="form-group row">
                      <label class="control-label col-sm-3" for="visit-select-user">Select User</label>
                      <select class="form-control col-sm-9" id="visit-select-user"></select>
                    </div>
                    <div class="form-group row">
                      <label class="control-label col-sm-3" for="visit-add-start">Start</label>
                      <input type="datetime-local" class="form-control col-sm-9" id="visit-add-start">
                    </div>
                    <div class="form-group row">
                      <label class="control-label col-sm-3" for="visit-add-end">End</label>
                      <input type="datetime-local" class="form-control col-sm-9" id="visit-add-end">
                    </div>
                    <div class="form-group row">
                      <label class="control-label col-sm-3" for="visit-add-note">Note</label>
                      <input type="text" class="form-control col-sm-9" id="visit-add-note">
                    </div>
                    <hr>
                    <button class="btn btn-primary btn-user btn-block">
                      Add Visit
                    </button>
                    <div class="modal-form-error text-danger"></div>
                    <hr>
                </form>       
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
  </div>