html,body{
  overflow-x: hidden;
}

#navbar-brand{
  position: absolute;
  /* top: 12px; */
}

/* DATATABLES */
#datatable_filter > label{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 0;
}

#datatable_filter .form-control::-ms-clear {
  width : 0;
  height: 0;
}

#datatable-search{
  height: 100%;
}
#btn-filters{
  position: absolute;
  right: 10px;
  top: 0;
}

#datatable tr:hover{
  cursor: pointer;
}

