/* Mobile phones */
@media only screen and (max-width: 750px) {
  .module{
    padding: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important
  }

  td{
    /* display: inline-block; */
    padding-left: 1px !important;
    padding-right: 1px !important;
    margin-right: 1px !important; 
    margin-left: 1px !important;
    width: fit-content !important;
  }

  .form-control{
    padding: 1px !important;
  }

  .card-body{
    padding: 1px;
  }
}

/* Datatables */
.dataTable tbody tr:hover{
  /* transform: scale(1.004); */
}

/* .dataTable tbody tr:active{
  transform: scale(1.01);
} */

.dataTable tr:hover{
  cursor: pointer;
}

.dataTable .btn-td:not(th){
  padding: 0 !important;
  vertical-align: middle;
}

/* .dataTable button{
  width: 100%;
  height: 46px;
  margin: 0;
  padding: 0;
  color: #0061f2;
} */

.form-error{
  height: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal .form-error{
  margin-bottom: -5px;
}

/* Datatable Search Box */
.card-header label{
  margin: 0 !important;
  width: 100%;
}

.card-header .btn{
  /* padding: 0; */
}

.modal form{
  padding: 0px 20px 20px 20px;
}
form label{
  margin-top: auto;
}

#users-datatable, #clients-datatable, #medications-datatable{
  text-align: center;
}

.datatable_filter{
  width: 0 !important;
}

.selected{
  color: #fff !important;
}

.page-header .page-header-content {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    padding-left: 2rem !important;
}

/* Notification Alerts */
#notification {
  position: absolute;
  bottom:0;
  right:0;
  margin: 0px 15px 0px 0px;
  width: 300px;
}

#notification .close{
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin: 8px 10px;
}

/* Loading Spinner */
.lds-roller {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #E44B4B;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
