*:focus {
  outline: none !important;
}

#module {
  height: 100%
}

#datatable-search input{
  width: 100%;
}

#datatable_filter label{
  width: 100%;
  margin-bottom: 0;
}

#clients-filters-title{
  color: #858796;
}

.modal .form-control{
  font-size: 1rem !important;
  height: 3.2rem !important;
  color: #858796 !important;
}

.filters-dropdown{
  color: #858796;
}

.modal .form-select{
  height: 100px;
}

label{
  margin: auto !important;
}

#datatable{
  text-align: center;
}
.checkbox-datatable{
  width: 25px;
  height: 25px;
}

/* Removes arrows from date inputs */
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.form-control{
  color: #858796;
}

.modal-form-error{
  margin: auto;
  text-align: center;
  height: 40px;
  padding-top: 20px;
}

.modal .btn{
  padding: 0.75rem 1rem;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
}

#modal .btn:active{
  background: #E54B4B!important;
}

.vertical-line-right {
  border-right: thick solid;
}

#form-edit-med input{
  resize: vertical !important;
}

/* Removes arrows from date inputs */
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.dataTables_filter label, input{
  width: 100%;
}


/* NOTIFICATION BOX */
.alert {
  display: none;
  position:absolute !important;
  bottom:0 !important;
  right:0 !important;
  margin: 0px 75px 75px 0px !important;
  padding: 35px 30px 35px 30px !important;
  background-color: #f44336; /* Red */
  color: white;
  font-size: 1.7em;
  width: fit-content;
  box-shadow: 1px 2px lightgrey!important;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  margin-top: 8px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 35px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.nounderline {
  text-decoration: none !important
}

.btn-add:active{
  transform: scale(1.15);
}

/* Loading Spinner */
.lds-roller {
    display: none;
    position: absolute;
    left: 50%;
    top: 40%;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #E44B4B;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
