<!-- MODAL ADD CONN -->
<div class="modal fade" id="modal-add-conn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Add Client</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">                    
                  <i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
              <form id="form-add-conn">         
                <div class="form-group row">
                  <label class="col-3" for="select-client">Select Client</label>
                  <select class="form-control form-select col-9" id="select-client">
                    
                  </select>
                </div>
              </form>       
          </div>
          <div class="modal-footer">
            <div class="form-error text-danger mx-auto"></div>
            <button class="btn btn-primary" id="btn-add-conn" type="button">Add Client</button>
          </div>
      </div>
    </div>
  </div>