<div class="card mb-2 mb-sm-4">
    <div class="card-header d-inline-flex p-2 bd-highlight" id="card-header">
        <span class="mr-1 mr-lg-5" id="title"></span> 

        <button class="btn p-2 ml-auto d-none" id="btn-archive" title="Archive">
            <i class="fas fa-trash"></i>
        </button>

        <button class="btn p-2 ml-auto d-none" id="btn-unarchive" title="Archive">
            <i class="fas fa-trash-restore"></i>
        </button>

        <button class="btn p-2 ml-auto d-none" id="btn-add" title="Add">
            <i class="fas fa-plus fa-lg" id="Add"></i>
        </button>
        
        <!-- <button id="btn-delete-med" class="btn" title="Delete Medication"><i class="fa fa-trash-alt fa-lg"></i></button> -->
    </div>
    <div class="card-body text-left">

    </div>
</div>





   